@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg: #040109;
  --ascent: #5e2bd4;
  --primary: #4c3dbd;
  --secondary: #141032;

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 !important;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  padding: 0 4px;
  background-color: var(--ascent);
  background-clip: padding-box;
  border-radius: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #3903b8;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  text-align: center;
  display: inline-block;
}

input {
  width: 100%;
  font-size: 1rem;
  color: white;
  border: 1px solid whitesmoke;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

::placeholder {
  color: white;
  opacity: 1;
}
