.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  letter-spacing: 0.35rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile {
  background-color: #5e2bd4;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.logout {
  background: none;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    padding: 0.5rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .logout {
    font-size: 0.8rem;
  }

  .profile {
    font-size: 0.6rem;
  }
}
