.search {
  width: 100vw;
  /* height: 10vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 50vw;
  height: 6vh;
  color: white;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem !important;
}

.searchbtn {
  width: 10vw;
  height: 6vh;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0 !important;
}

@media screen and (max-width: 768px) {
  .input {
    width: 55vw;
    height: 4vh;
  }
  .searchbtn {
    width: 25vw;
    height: 4vh;
  }
}
