.main {
  display: flex;
  flex-direction: column;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 3rem;
}

.college {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.college > .title {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.card {
  width: 15vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #170a33;
  border-radius: 1rem;
}

.card > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.card > img {
  width: 200px;
  height: 220px;
  border-radius: 1rem;
  padding: 0.5rem;
  object-fit: contain;
  object-position: top;
}

@media only screen and (max-width: 768px) {
  .profiles {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .college > .title{
    font-size: 0.4rem;
    padding: 1px;
  }

  .card {
    width: 35vw;
    height: 20vh;
    font-size: 0.8rem;
    display: flex;
    gap: 0.3rem;
  }

  .card > .content {
    padding: 0;
  }

  .card > img {
    width: 80%;
    height: 80%;
    border-radius: 0.5rem;
    padding: 0 !important;
  }

  .content > .regNo {
    display: none;
  }
}
