.main {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #11232e;
  max-width: min-content;
  height: auto;
}

.card > .content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.card > img {
  max-height: 200px;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: contain;
}
